@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #ccc;
  }
}

html {
  background-color: #28292a !important;
}
html,
body,
input,
textarea,
select,
button {
  background-color: #28292a;
}
html,
body,
input,
textarea,
select,
button {
  border-color: #5d5d5d;
  color: #d8d7d4;
}
a {
  color: #3e8eec;
}
table {
  border-color: #545454;
}
::placeholder {
  color: #b1ada4;
}
::selection {
  background-color: #1361c1;
  color: #ececec;
}
::-moz-selection {
  background-color: #1361c1;
  color: #ececec;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #5b6013 !important;
  color: #d8d7d4 !important;
}
::-webkit-scrollbar {
  background-color: #2b2d2d;
  color: #bbb7b0;
}
::-webkit-scrollbar-thumb {
  background-color: #37393a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3e4042;
}
::-webkit-scrollbar-thumb:active {
  background-color: #474a4c;
}
::-webkit-scrollbar-corner {
  background-color: #28292a;
}
* {
  scrollbar-color: #37393a #2b2d2d;
}

[data-darkreader-inline-bgcolor] {
  background-color: var(--darkreader-inline-bgcolor) !important;
}
[data-darkreader-inline-bgimage] {
  background-image: var(--darkreader-inline-bgimage) !important;
}
[data-darkreader-inline-border] {
  border-color: var(--darkreader-inline-border) !important;
}
[data-darkreader-inline-border-bottom] {
  border-bottom-color: var(--darkreader-inline-border-bottom) !important;
}
[data-darkreader-inline-border-left] {
  border-left-color: var(--darkreader-inline-border-left) !important;
}
[data-darkreader-inline-border-right] {
  border-right-color: var(--darkreader-inline-border-right) !important;
}
[data-darkreader-inline-border-top] {
  border-top-color: var(--darkreader-inline-border-top) !important;
}
[data-darkreader-inline-boxshadow] {
  box-shadow: var(--darkreader-inline-boxshadow) !important;
}
[data-darkreader-inline-color] {
  color: var(--darkreader-inline-color) !important;
}
[data-darkreader-inline-fill] {
  fill: var(--darkreader-inline-fill) !important;
}
[data-darkreader-inline-stroke] {
  stroke: var(--darkreader-inline-stroke) !important;
}
[data-darkreader-inline-outline] {
  outline-color: var(--darkreader-inline-outline) !important;
}

html {
  background-color: #28292a !important;
}
html,
body,
input,
textarea,
select,
button {
  background-color: #28292a;
}
html,
body,
input,
textarea,
select,
button {
  border-color: #5d5d5d;
  color: #d8d7d4;
}
a {
  color: #3e8eec;
}
table {
  border-color: #545454;
}
::placeholder {
  color: #b1ada4;
}
::selection {
  background-color: #1361c1;
  color: #ececec;
}
::-moz-selection {
  background-color: #1361c1;
  color: #ececec;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #5b6013 !important;
  color: #d8d7d4 !important;
}
::-webkit-scrollbar {
  background-color: #2b2d2d;
  color: #bbb7b0;
}
::-webkit-scrollbar-thumb {
  background-color: #37393a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3e4042;
}
::-webkit-scrollbar-thumb:active {
  background-color: #474a4c;
}
::-webkit-scrollbar-corner {
  background-color: #28292a;
}
* {
  scrollbar-color: #37393a #2b2d2d;
}

.vimvixen-hint {
  background-color: #7c5a01 !important;
  border-color: #cba923 !important;
  color: #e2d8bd !important;
}
::placeholder {
  opacity: 0.5 !important;
}
